body{
    background-image: radial-gradient(#55555560 1px, transparent 1px);
    background-size: 32px 32px;
    background-color: #181818;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    scroll-behavior: smooth;
}

.link-card{
    background: #55555555;
}
