
body{
  background-color: #3affb4;
}

.github{
    background: #fb5649;
}
.linkedin{
    background: #fed641;
}
.portfolio{
    background: #41d0fb;
}
.twitter{
    background: #fb5649;
}
.youtube{
    background: #fed641;
}

.github , .linkedin , .portfolio , .twitter , .youtube{
    box-shadow: 5px 5px 0px #18181b;
}